
.field {
 height: 70px;
 width: 250px;
}

.actions {
  font-family: serif;
  color: red;
  font-size: 20px;

}
.footer {
   position:absolute;
   bottom: auto;
   width:100%;
   height:60px;
   margin-top: 0;
   margin-bottom: 0;
}
.footer-nav {
  color: white;

}
.carousel-inner img {
  margin: auto;
}
