body {
  background-image: url('4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.field {
 height: 70px;
 width: 250px;
}

.actions {
  font-family: serif;
  color: red;
  font-size: 20px;
}

.footer {
   position:absolute;
   bottom: auto;
   width:100%;
   height: 40px;
   margin: auto;
}

.footer-nav {
  color: grey;
}

.carousel-inner img {
  margin: auto;
}
.modal-body{
  .modal-image{
    margin-top: 10px;
    height: 220px;
    img{
      position: absolute;
      top: 50%;
      min-height: 100%;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      padding-bottom: 4px;
    }
  }
  .modal-details{

  }
}
.modal-footer{
  margin-top: 220px;
  padding: 10px;
  button{
    margin-right: 15px;
    float:right;
  }
  .date-created{
    float:left;
    margin: 0px 20px;
  }
  .place{
    float:right;
    margin: 5px 20px;
  }

}

section {
    label h2{
      font-family: sans-serif;
      color: white;
    }
    .glyphicon {
      margin-right: 20px;
    }
}
